{% extends 'base.html' %}

{% block title %} Impulse Screener {% endblock %}

{% block content%}

<table class="table mt-5 table-bordered table-striped table-hover table-responsive">
    <thead class="table-dark">
        <tr>
            <th  rowspan="2">Name</th>
            <th colspan="2"> 1 min Orders</th>
            {% for el in listTF %}
                <th colspan="2">{{el}} min</th>
            {% endfor %}
            <th width='10%'></th>
        </tr>
        <tr>
            <th>Order_Bid</th>
            <th>Order_Ask</th>
            {% for el in listTF %}
                <th>Have_Impulse</th>
                <th>Count_in_impulse</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% load my_color_filter %}
        {% for el in result %}
            <tr>
                 <td>{{el.name}}</td>
                 <td  class="{{el.orderL|filter_count_OrderL}}">
                     {% if el.orderL >= 5%}
                        <a style='color:white' href={% url 'screener:chartOrder' el.name 'bids'%}>{{el.orderL}} min</a>
                     {% else %}
                        <a style='color:black'  href={% url 'screener:chartOrder' el.name 'bids'%}>{{el.orderL}} min</a>
                     {% endif%}
                 </td>
                 <td  class="{{el.orderS|filter_count_OrderS}}">
                     {% if el.orderS >= 5%}
                        <a style='color:white' href={% url 'screener:chartOrder' el.name 'asks'%}>{{el.orderS}} min</a>
                     {% else %}
                        <a style='color:black'  href={% url 'screener:chartOrder' el.name 'asks'%}>{{el.orderS}} min</a>
                     {% endif%}
                 </td>
                    {% for imp in el.impInfo%}
                        {% if imp.impulse != 0%}
                            {% if imp.impulse.type == "L" %}
                                <td class="bg-success">
                                    <a style='color:white' href={% url 'screener:test_view' el.name imp.TF 'L'%}>В импульсе</a>
                                </td>
                            {% else %}
                                <td class="bg-danger">
                                    <a style='color:white' href={% url 'screener:test_view' el.name imp.TF 'S'%}>В импульсе</a>
                                </td>
                            {% endif %}
                            {% if imp.count >= 20 %}
                                {% if imp.impulse.type == "L"%}
                                    <td class="bg-success">
                                        <p style="color:white">{{imp.count}}</p>
                                    </td>
                                {% else %}
                                    <td class="bg-danger">
                                        <p style="color:white">{{imp.count}}</p>
                                    </td>
                                {% endif %}
                            {% else %}
                                <td>
                                    <p style="color:black">{{imp.count}}</p>
                                </td>
                            {% endif %}

                        {% else %}
                            <td>Не в импульсе</td>
                            <td>0</td>
                        {% endif %}

                    {% endfor %}
                <td>
                    <button class="btn btn-primary">
                        <a style='color:white' href={% url 'screener:single_currency' el.name %}>Trading View</a>
                    </button>
                </td>
            </tr>
        {% endfor%}
    </tbody>
</table>
{% endblock %}