{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="getStartData/" method="POST">
            {% csrf_token %}
                <button type="submit">Get Start Data</button>
        </form>
    </div>
    <br />
    <div>
        <form action="getImpulses/" method="POST">
            {% csrf_token %}
                <button type="submit">Get Impulses</button>
        </form>
    </div>
    <br />
    <div>
        <form action="startStreams/" method="POST">
            {% csrf_token %}
                <button type="submit">Start Streams</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}